.photo{
    width:100px;
    height:100px;
}
.icon{
    font-size: 100px;
}
.btn{
    border:none;
}
.part{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    width:100%;
}
.form{
    width:800px;
    height:40px;
}
.ok{
    color: green;
    text-decoration: line-through;
    opacity: 0.7;
}
.Nok{
    color:red;
}